{% extends "rango/base.html" %}

{% block title_block %}
    Change your Password
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Rango says...</h1>
            <h2 class="h2">change your Password</h2>
        </div>
    </div>

    <div class="container">
        <form class="form-signin" role="form" method="post" action=".">
            {% csrf_token %}

            <p>
                <label for="id_old_password" class="sr-only">Old password:</label>
                <input type="password"
                       name="old_password"
                       id="id_old_password"
                       class="form-control"
                       placeholder="Old password"
                       autofocus=""
                       required=""
                       autocomplete="off">
            </p>

            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>

            <p>
                <label for="id_new_password1" class="sr-only">New password:</label>
                <input type="password"
                       name="new_password1"
                       id="id_new_password1"
                       class="form-control"
                       placeholder="New password"
                       required="">
                <span class="helptext"></span>
            </p>

            <p>
                <label for="id_new_password2" class="sr-only">New password confirmation:</label>
                <input type="password"
                       name="new_password2"
                       id="id_new_password2"
                       class="form-control"
                       placeholder="Retype new password"
                       required=""
                >
            </p>

            <button class="btn btn-lg btn-primary btn-block" type="submit"
                    value="Submit">
                Change Password
            </button>
        </form>
    <p/>
    </div>

{% endblock %}