{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="jumbotron-heading">Rango says...</h1>
                <h2 class="h2">this is the {{ category.name }} category.</h2>
            </div>
        </div>

        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p><strong>There are currently no pages currently in the {{ category.name }} category.</strong></p></br>
        {% endif %}
        {% if user.is_authenticated %}
            <p><a href="{% url 'rango:add_page' category.slug %}">Add a Page to the {{ category.name }} category</a></p><br/>
        {% else %}
            <p><a href="{% url 'auth_login' %}">You must login before you can add a page to the {{ category.name }}
                category</a></p>
        {% endif %}
    {% else %}
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="jumbotron-heading">Rango says...</h1>
                <h2 class="h2">the specified category does not exist.</h2>
            </div>
        </div>
    {% endif %}
{% endblock %}